*{
	margin: 0px;
	padding: 0px;
}

.imeg{
	
	background-image: url("i1.jpg");
	width: 100%;
	height: 700px;
	background-size: 100% 100%;
	position: relative;
}
.cir1{
	background-color: white;
	height: 600px;
	width: 600px;
    background: rgba(211,211,211,0.8);
	border-radius: 100%;
	position: absolute;
	left:376px;
	top: 25px;
	
}
.cir1:hover{
	background-color: rgba(89, 89, 89,0.8);
}
.cir1 a:nth-child(1){
	display: block;
	color: lightgray;
	border-radius: 50%;
	font-size: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	position: relative;
	top: 100px;
	left: 200px;
	background-color: blue;
	opacity: 0.6;

}
.bg .imeg .cir1 h1{	
	margin-top: 450px;	
	text-align: center;
	font-size: 25px;
}
.imeg:nth-child(1) a:hover {
	background-color: white;
	color:black;
	opacity: 1;
 
}
.cir1 a:nth-child(2){
	display: block;
	color: lightgray;
	border-radius: 50%;
	font-size: 25px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	position: relative;
	top: 200px;
	left: 100px;
	background-color: black;
	opacity: 0.6;

}
.imeg:nth-child(2) a:hover {
	background-color: white;
	color:black;
	opacity: 1;
 
}
.cir1 a:nth-child(3){
	display: block;
	color: lightgray;
	border-radius: 50%;
	font-size: 25px;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	position: absolute;
	top: 100px;
	left: 350px;
	background-color: rgba(8, 70, 40);
	opacity: 0.6;

}
.imeg:nth-child(3) a:hover {
	background-color: white;
	color:black;
	opacity: 1;
 
}
.cir1 a:nth-child(4){
	display: block;
	color: lightgray;
	border-radius: 50%;
	font-size: 25px;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	position: relative;
	top: 150px;
	left: 290px;
	background-color: rgba(0, 0, 77);
	opacity: 0.6;

}
.imeg:nth-child(4) a:hover {
	background-color: white;
	color:black;
	opacity: 1;
 
}

.cir1 a:nth-child(5){
	display: block;
	color: lightgray;
	border-radius: 50%;
	font-size: 25px;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	position: absolute;
	top:200px;
	left: 390px;
	background-color: rgba(35, 114, 182);
	opacity: 0.6;
    display: none;
}
.imeg:nth-child(5) a:hover {
	background-color: white;
	color:black;
	opacity: 1;
 
}